<?php

$finder = PhpCsFixer\Finder::create()
    ->in('app');

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
        'array_indentation' => true,
        'blank_line_before_statement' => ['statements' => ['break', 'continue', 'return', 'throw', 'try']],
        'include' => true,
        'lowercase_constants' => true,
        'method_separation' => true,
        'new_with_braces' => true,
        'no_trailing_whitespace_in_comment' => true,
        'no_trailing_whitespace' => true,
        'no_spaces_inside_parenthesis' => true,
        'no_null_property_initialization' => true,
        'no_extra_consecutive_blank_lines' => true,
        'no_unused_imports' => true,
        'no_useless_else' => true,
        'no_blank_lines_after_class_opening' => true,
        'no_empty_phpdoc' => true,
        'no_blank_lines_after_phpdoc' => true,
        'no_empty_statement' => true,
        'no_spaces_after_function_name' => true,
        'no_useless_return' => true,
        'ordered_class_elements' => true,
        'ordered_imports' => ['sortAlgorithm' => 'length'],
        'phpdoc_summary' => true,
        'phpdoc_trim' => true,
        'phpdoc_order' => true,
        'phpdoc_scalar' => true,
        'phpdoc_add_missing_param_annotation' => true,
        'single_blank_line_before_namespace' => true,
        'single_quote' => true,
        'trailing_comma_in_multiline_array' => true,
        //'class_attributes_separation' => true,
    ])
    ->setFinder($finder);